// Common
$cdn-path: "https://j4y2v6g3.stackpathcdn.com";

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$deep-blue: #246EB9;

// Font Awesome
$fa-font-path: $cdn-path + "/fonts/vendor/@fortawesome/fontawesome-pro/webfonts";
$fa-font-display: swap;
