// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css";

@import "components/footer";
@import "components/header";
@import "components/filters";
@import "components/carousel";
@import "components/autocomplete";
@import "components/deals-popup";
@import "components/page-outlink";

#app {
  position: relative;
  min-height: 105vh;
}

.bg-light-blue {
  background-color: #bafdff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.cost-breakdown {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 25%;
  margin-left: -150px;
  margin-top: -150px;
}

.btn-outline-deep-blue {
  color: $deep-blue;
  border-color: #3490dc;
}

.btn-outline-deep-blue:hover {
  color: #fff;
  background-color: $deep-blue;
  border-color: #3490dc;
}

.btn-outline-deep-blue:focus,
.btn-outline-deep-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.5);
}

.btn-outline-deep-blue.disabled,
.btn-outline-deep-blue:disabled {
  color: #3490dc;
  background-color: transparent;
}

.btn-outline-deep-blue:not(:disabled):not(.disabled):active,
.show > .btn-outline-deep-blue.dropdown-toggle {
  color: #fff;
  background-color: $deep-blue;
  border-color: #3490dc;
}

.btn-outline-deep-blue:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-deep-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.5);
}

.bg-deep-blue {
  background-color: $deep-blue !important;
}

.jumbotron-form {
  margin-right: -10px;
}

.color-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
}

.btn-success:hover {
  color: #fff;
  background-color: #2fa360;
  border-color: #d13e36;
}

.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #d13e36;
  border-color: #2a9055;
}

a.badge-success:hover,
a.badge-success:focus {
  color: #fff;
  background-color: #d13e36;
}

a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #d13e36 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.525);
  border-radius: 0.25rem;
}

.cursor-pointer {
    cursor: pointer;
}
