.autocomplete {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding: 5px;
  max-height: 400px !important;
  z-index: 99;
}

.autocomplete-item-container {
  cursor: pointer;
}

.autocomplete-item-container:hover {
  opacity: 0.7;
}
