@import "~weatherstar-switch/dist/switch.css";

.switch-default {
    width: 4em;
    height: 1.65em;
    box-shadow: none !important;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s !important;

    small {
        width: 2.2em;
        height: 2.2em;
    }

    &.switch-disabled {
        pointer-events: none;

        &.switch-on small {
            left: calc(100% - 2.2em) !important;
        }
    }
}
