@import "checkbox-switch";

label {
  width: 100%;
  font-size: 1rem;
}

.card-input-element + .card {
  height: calc(36px + 2*1rem);
  color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid lightgray;;
  border-radius: 4px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  border: 2px solid var(--success);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.card-input-element:checked + .card::after {
  color: #AFB8EA;
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.disabled-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor:not-allowed !important;
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.slider-handle {
  background-image: linear-gradient(to bottom, #FB534A 0, #ea4c44 100%) !important;
}

.slider-selection {
  background-image: linear-gradient(to bottom, #FB534A 0, #ea4c44 100%) !important;
}

.slider-tick.in-selection {
  background-image: linear-gradient(to bottom, #FB534A 0, #ea4c44 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0);
  opacity: 1;
  width: 0 !important;
}

.slider-tick {
    height: 0 !important;
    width: 0 !important;
}

.slider.disabled {
    .max-slider-handle {
        left: 100% !important;
    }

    .slider-horizontal {
        opacity: .5;
    }

    .slider-track,
    .slider-handle:hover {
        cursor: not-allowed;
    }
}

.displayedColors,
.displayedCapacity {
    display: flex;
}

@include media-breakpoint-down(md) {

    .displayedColors,
    .displayedCapacity {
        display: block;

        .color-wrap,
        .capacity-wrap {
            line-height: 0;
        }

        label {
            margin: 0;
            display: block;
        }

        .model-filter {
            & + .card {
                display: none;
            }

            &:checked + .card {
                display: flex;
            }
        }
    }

    #collapseColors,
    #collapseCapacity {
        label {
            margin: 0;
        }

        .card {
            margin-bottom: 0.5rem;
        }
    }

}

#collapseColors,
#collapseCapacity {

    .model-filter {
        & + .card {
            display: flex;
        }

        &:checked + .card {
            display: none;
        }
    }

}
