.navbar {
    .container {
        align-items: stretch;
    }
}

.header-search {
    .dropdown-menu {
        left: initial;
        right: 0;
        background: none;
    }

    .navbar-container {
        margin-top: 1px;
        animation: .3s headerVisibilityFadeOut;
        animation-fill-mode: forwards;
    }

    .nav-link {
        position: absolute;
        right: 7px;
    }

    .navbar-nav {
        height: 100%;
    }

    .show {
        .nav-link {
            display: none;
        }

        .navbar-container {
            animation: .3s headerVisibilityFadeIn;
        }
    }
}

#model-search {
    width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include media-breakpoint-down(lg) {
        width: 230px;
    }
}

@keyframes headerVisibilityFadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes headerVisibilityFadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
