.page-outlink {
    background: #fff;
    min-height: 100vh !important;

    .img-logo {
        width: 220px;
    }

    .img-store {
        max-width: 100px;
    }

    .no-js & .js-only {
        display: none;
    }
}
