.merge-brand-item:hover {
  opacity: 0.7;
}

.merge-group-scroll {
    position:relative;
    max-height: 75vh;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

#merge-table {
    max-height: 75vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    overflow-y: scroll;
}
