// Variables
@import "../variables";

//// Fonts
//@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
//@import "~@fortawesome/fontawesome-pro/scss/light";
//@import "~@fortawesome/fontawesome-pro/scss/duotone";
//@import "~@fortawesome/fontawesome-pro/scss/brands";

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css";
@import "../../../node_modules/bootstrap4-toggle/css/bootstrap4-toggle.min.css";
@import "../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css";
@import "components/merge";
@import "components/autocomplete";
@import "components/toasts";
@import "components/drag-n-drop";
@import "components/datetimepicker";

html, body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif!important;
}

.alert:hover {
  cursor: pointer;
}

.delete-modal {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.bg-light-blue {
  background-color: #bafdff;
}

.reports-graph {
  min-height: 400px;
}

.color-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
}

body .container-fluid {
    overflow: initial !important; // to fix custom.css styles
}
